.App {
  text-align: center;
}

.logo{
  width: 10%;
}

h1{
  font-size: 24px;
  font-weight: bold;
}

.allUsers{
  background-color: rgb(226, 226, 226);
}

#dateLabel{
  display: block;
}

.react-date-picker__wrapper{
  border: 0 !important;
}

.btnHandler{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}